
/*
###### SELECTORES ######
*/

/* selector universal */
*{
    font-family: Verdana,Arial,Tahoma, sans-serif;/*define una lista de fuentes o familias de fuentes, 
        con un orden de prioridad, para utilizar en un elemento seleccionado.
         A diferencia de la mayoría de las propiedades CSS, los valores se separan con comas (",") 
         para indicar que son valores alternativos*/
    
    
    }
  
     /* selector de etiqueta */
     h1{
      background: red;/*para el fondo,aparte del color puedes especificar más cosas*/
      color: white;/*color a la letra*/
      padding: 10px;/*para establecer valores para el grosor del área de relleno,para q se separe de los bordes*/
      
      }
    
  
      a{
      
        font-size: 18px;/*tamaño de letra*/
        color: green;/*color a la letra*/
        text-decoration: none;/*le quita la linea a los enlaces*/
      }
  
      footer a{
        color: red;/*color a la letra*/
        
        
        }
  
        #descripcion,
        #titulo{
          border: 5px solid black;/*un borde de 5px el tipo de borde y el negro*/
          padding: 15px;/*para q se separe de los bordes*/
        }
  
        #titulo{
          background: blue;
          border: 2px dashed white;
          }
  
   /* selector de clase */
   .parrafo2{
    font-style: italic;/*La propiedad font-style permite definir el aspecto de una familia tipográfica entre los valores: normal , italic (cursiva) y oblique*/
    /*text-decoration: underline;*/
    font-weight: bold;/* especifica el peso o grueso de la letra. Algunos tipos de letra sólo están disponibles en normal y bold*/
    }
  
    .parrafo1 , .parrafo3{
      background-color: green;/*solo sirve para el color de fondo*/
      color: white;/*color a la letra*/
      padding: 10px;
    }
  
  
    .parrafo3 {
      background-color: orange;
      color: black;/*color a la letra*/
    }
  
  
    /* selector de atributo */
      
      
    #usuario form {
      
      border: 5px solid blue;
      margin-top: 15px;/*establecer valores para el grosor del área del margen top seria arriba*/
      margin-bottom: 15px;/*le doy un espacio desde abajo*/
      padding: 20px;/*para q se separe de los bordes*/
      }
  
      #usuario form *{
      
        display: block;/*cada elemento va a estar en una linea para el solo*/
      }
  
    
      
      
  /*con esto ^ le digo..los q al principio tengan www*/
  
      a[href^="www"]{
        color: rgb(157, 165, 42);
      }
      
  
      /*con esto $ le digo..los q al final tengan com*/
  
      a[href$="com"]{
        color: rgb(0, 238, 255);
      }
      
  
  
      /*con esto * le digo..cualquier elemento q tenga adrianweb*/
  
      a[href*="adrianweb"]{
        color: blue;
      }
      
  
      input[type="text"]{
        margin-bottom: 15px;/*le da el espacio entre cada elemento*/
        padding: 10px;/*el alto de la caja del input*/
        width: 300px;/*el ancho del input*/
        
        }
  
        input[type="submit"]{
          background: green;/*el color del input*/
          color: white;/*el color de la letra*/
          padding: 15px;/*el alto de la caja del input*/
          font-size: 15px;/*tamaño de letra*/
          text-transform: uppercase;/*transforma en mayuscula al texto*/
          border: 1px solid black;/*cambia el borde a color negro*/
          cursor: pointer;/*cuando pasa el mouse se transforma en una manito*/
          }
  
           /*selector hijo*/
      
      #menu>li>a{/* elijo id menu despues de li despues del otro ul a los a*/
      
        font-size: 18px;
        color: red;/*color a la letra*/
        text-decoration: none;/*le quita la linea a los enlaces*/
      
      }
  
  
      /*prioridad*/
      /* css le da prioridad al ultimo pero si por ejemplo se pone un id css le da prioridad al id premia a lo mas especifico*/
      /*pero si le pongo !important vale sobre todo*/
      #saludo h1{
        background: brown;
      }
  
      h1{
        background: purple !important;
      }
      
     
     